*.iml
.gradle
**/build/
local.properties
.idea
*.iws
*.ipr
.DS_Store
captures/
*.apk
*.aab
*.ap_
*.dex
*.class
*.kotlin_module
.kotlin
*.klib
xcuserdata/
DerivedData/
Pods/
Podfile.lock
.swiftpm
.build/
.env
*.jks
secrets.properties
coverage/
.coverage
